html, body {
    height: 100%;
    margin: 0;
}

.background {
    height: 100%;
    background: url("./images/rural_children_mobile.png");
    background-blend-mode: multiply, normal;
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: 550px) {
    .background {
        height: 100%;
        background: url("./images/image 2.png");
        background-blend-mode: multiply, normal;
        background-position: center;
        background-size: cover;
    }
}

.sign_in_button{
    position: relative;
    bottom: 3px;
    display: block;
    color: #fff;
    text-align: center;
    border: 3px solid;
    border-radius: 25px 25px 25px 25px;
    padding-bottom: 10px;

}

.homepage_heading{
    font-size: 3vw;
    width: 75vw;
    padding-left: 7vw;
    padding-right: 7vw;
    line-height: 150%;
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .homepage_heading{
        font-size: 32px;
        width: 75vw;
        padding-left: 7vw;
        padding-right: 7vw;
        line-height: 150%;
        color: #fff;
    }
}

#brand_name{
    color: white;
    font-size: 3vw;
}

@media only screen and (max-width: 600px) {
    #brand_name{
        font-size: 32px;
        line-height: 150%;
        color: #fff;
    }
}

.homepage_button{
    background-color: transparent;
    border: 3px solid;
    color: #fff;
    border-color: #fff;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 7vh;
    padding: 10px;
    border-radius: 0 25px 25px 25px;
}


.watch_the_video{
    margin-right: 3vw; 
    font-size: 1.5vw;
}


.sign_up{
    margin-left: 1vw; 
    font-size: 1.5vw;
}
@media only screen and (max-width: 600px) {
    .homepage_button{
        background-color: transparent;
        border: 3px solid;
        color: #fff;
        border-color: #fff;
        margin-left: 7vw;
        margin-right: 7vw;
        margin-top: 7vh;
        padding: 10px;
        border-radius: 0 25px 25px 25px;
    }

    .watch_the_video{
        margin-right: 3vw; 
        font-size: 15px;
    }

    .sign_up{
        margin-left: 1vw; 
        font-size: 15px;
    }
}



.section_images{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .section_images{
        width: 100%;
        height: auto;
    }
}    


navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 82px;
    width:90%;
}

ul{
    list-style: none;
  }

li {
    color: white;
    display: inline-block;
    padding: 10px;
  }

.homepage_row {
    padding: 50vh 10%;
    padding-bottom: 0;
    width: 100%;
    
    display: flex;
    flex-direction: row;

}

@media only screen and (max-width: 800px) {
    .homepage_row {
        flex-direction: column;
    }
}
.inverted {
    color: black;
    background-color: transparent;
    border: 3px solid black;
}

.content {
    color: black;
    width: 55%;
    margin-right: 5%;
    
}


.homepage_row img {
    max-width: 40%;
    
}
