html, body {
    height: 100%;
    margin: 0;
}
.background {    
    height: 100%;
    background: linear-gradient(0deg, rgba(202, 192, 106, 0.69), rgba(202, 192, 106, 0.69)), url(/Users/manansinghmehta/Downloads/rural-children.jpeg);
    background-blend-mode: multiply, normal;
    background-position: center;
    background-size: cover;

    
}



.heading {
    position: absolute;
    width: 230px;
    height: 57px;
    left: 82px;
    top: 64px;
    margin: 0;
    
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    /* identical to box height */
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.heading2 {
     position: absolute;
     width: 1231px;
     height: 186px;
     left: 82px;
     top: 248px;
     
     font-family: Source Serif Pro;
     font-style: normal;
     font-weight: bold;
     font-size: 42px;
     line-height: 73px;
     display: flex;
     align-items: center;
     
     color: #FFFFFF;     
     

