html, body {
    height: 100%;
    margin: 0;
}

.background {    
    height: 100%;
    background: linear-gradient(0deg, rgba(202, 192, 106, 0.69), rgba(202, 192, 106, 0.69)), url(/Users/manansinghmehta/Downloads/rural-children.jpeg);
    background-blend-mode: multiply, normal;
    background-position: center;
    background-size: cover;

    
}

.homepage_heading{
    color: white;
    margin: 0;
    font-size: 2vw;
    position: relative;
    left: 82px;
    top: 50px;
    line-height: 250%;
}



navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 82px;
    width:90%;
}

ul{
    list-style: none;
  }
  
li {
    color: white;
    display: inline-block;
    padding: 10px;
  }

.container-fluid{
    padding: 0;
    position: relative;
    left: 82px;
    top: 50px;
}


.nav-bar {
font-family: Source Serif Pro;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
}